
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    display: block;
    color: #fff;
    line-height: 1.6;
    width: calc(100vw - (100vw - 100%));
    background-color: black;

}

.hero {
    position: relative;
}

.planofundo1 {
    top: 0;
    left: 0;
    width: calc(100vw - (100vw - 100%));
}

.videooferta1 {
    position: absolute;
    top: 35vw;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 62vw;
}

.ofertabeneficios {
    position: relative;
    text-align: center;
}

.planofundo2 {
    width: calc(100vw - (100vw - 100%));
}

.buttonbeneficios {
    display: flex;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 0.20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(131, 109, 85);
    color: rgb(255, 49, 49);
    padding: 1vw 2vw;
    font-size: 5vw;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
}

.buttonbeneficios:hover {
    font-size: 5.5vw;
    transition: 0.6s ease-in-out;
}

.planofundo3 {
    width: calc(100vw - (100vw - 100%));
}

.planofundo4 {
    width: calc(100vw - (100vw - 100%));
}

.oportunidade {
    width: calc(100vw - (100vw - 100%));
    position: relative;
    text-align: center;
}

.planofundo5 {
    width: calc(100vw - (100vw - 100%));
}

.buttonoportunidade {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 20vw;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(38, 194, 59);
    color: rgb(255, 255, 255);
    padding: 1vw 2vw;
    font-size: 4.2vw;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
}

.buttonoportunidade:hover {
    font-size: 4.3vw;
    transition: 0.6s ease-in-out;
}



.planofundo6 {
    width: calc(100vw - (100vw - 100%));
}

/* WHATSAPP */
/* Garante que .logowhatsApp fique sobre .planofundo6 */
.whatsapp div {
    position: relative;
}

.logowhatsApp {
    position: absolute;
    top: 32vw;
    left: 47vw;
    transform: translate(-50%, -50%);
    z-index: 2;
 }
 .logowhatsApp img:hover {
    width: 16vw; 
    transition: 0.6s ease-in-out;
}

 .logowhatsApp img {
    width: 14vw;
}