* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    color: #fff;
    line-height: 1.6;
    width: 100vw;
    background-color: black;

}

.hero {
    position: relative;
    height: 90vh;
    margin-bottom: 31vh;
}

.planofundo1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.videooferta1 {
    position: absolute;
    top: 35vw;
    left: 50vw;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    max-height: 80vh;
    width: 62vw;
    height: auto;
}

.ofertabeneficios {
    position: relative;
    text-align: center;
    margin-top: -5px;
}

.planofundo2 {
    width: 100%;
}

.buttonbeneficios {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 49vw;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(131, 109, 85);
    color: rgb(255, 49, 49);
    padding: 15px 30px;
    font-size: 3.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
}

.buttonbeneficios:hover {
    font-size: 4rem;
    transition: 0.6s ease-in-out;
}

.planofundo3 {
    width: 100%;
}

.planofundo4 {
    width: 100%;
}

.planofundo5 {
    width: 100%;
}

.buttonoportunidade {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 250vw;
    left: 50.5%;
    transform: translate(-50%, -50%);
    background-color: rgb(38, 194, 59);
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    font-size: 3.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
}

buttonoportunidade:hover {
    font-size: 4rem;
    transition: 0.6s ease-in-out;
}



.planofundo6 {
    width: 100%;
}
/* WHATSAPP */
.whatsapp {
    background: #121212;
    padding: 40px 20px;
    text-align: center;
}

.whatsapp a {
    display: inline-block;
    margin-top: 15px;
    color: #25d366;
    font-size: 1.2rem;
    text-decoration: none;
}